---
import { getCollection, render } from "astro:content";

const services = await getCollection("services");
const sortedServices = services.sort(
    (a, b) => (a.data.order || 0) - (b.data.order || 0),
);

const servicesWithContent = await Promise.all(
    sortedServices.map(async (service) => {
        const { Content } = await render(service);
        return { ...service, Content };
    }),
);
---

<section class="text-black py-16 px-4 md:px-8">
    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">
        {
            servicesWithContent.map((service) => (
                <div class="flex flex-col gap-4">
                    <div class="overflow-hidden rounded-2xl">
                        <img
                            src={service.data.image}
                            alt={service.data.title}
                            class="w-full h-64 object-cover hover:scale-105 transition-transform duration-500"
                        />
                    </div>
                    <h3 class="text-2xl font-black uppercase mt-4">
                        {service.data.title}
                    </h3>
                    <div class="text-gray-600 font-medium">
                        <service.Content />
                    </div>
                </div>
            ))
        }
    </div>
</section>
